@use "global" as *;


.l-footer {
  margin-top: rem(116.6);

  @include mq(md) {
    margin-top: rem(116.8);
  }
}




// =======================================
// モディファイア
// =======================================
// l-footer--service (事業紹介ページのfooter)
.l-footer--service.l-footer {
  margin-top: rem(74);

  @include mq(md) {
    margin-top: rem(116.8);
  }
}
