@use "global" as *;


.l-footer {
  margin-top: rem(116.6);

  @include mq(md) {
    margin-top: rem(116.8);
  }
}




// =======================================
// モディファイア
// =======================================
// l-footer--service (事業紹介ページのfooter)
.l-footer--service.l-footer {
  margin-top: rem(74);

  @include mq(md) {
    margin-top: rem(20);
  }
}

// l-footer--lunch (ランチャームとは ページのfooter)
.l-footer--lunch.l-footer {
  margin-top: 0;
}

// l-footer--recruit (採用情報 ページのfooter)
.l-footer--recruit.l-footer {
  margin-top: rem(200);

  @include mq(md) {
    margin-top: rem(100);
  }
}

// l-footer--mt0 (margin-topが0の ページのfooter)
.l-footer--mt0.l-footer {
  margin-top: 0;
}

// l-footer--160 (事例紹介ページや最新情報ページのfooter)
.l-footer--160.l-footer {
  margin-top: rem(160);

  @include mq(md) {
    margin-top: rem(80);
  }
}
