@use "global" as *;


// 円弧スライダーのエリア全て (arch-slider)
.arch-slider {

}

.arch-slider__container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  // height: rem(1050);  // ここで、『円弧スライダーのエリア全体』を表示する高さを指定する必要あり。
  height: 930px;
  position: relative;

  @include mq(md) {
    height: rem(700);
  }
}

.arch-slider__main {

}

.arch-slider__sub-contents {
  position: absolute;
  top: rem(550);
  top: 550px;
  left: 0;
  right: 0;
  margin: auto;
  width: rem(438);
  z-index: 15;

  @include mq(md) {
    top: 320px;
    width: 100vw;
  }
}
