@use "global" as *;


// 円弧スライダーのエリア全て (arch-slider)
.arch-slider {

}

.arch-slider__container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 930px;  // ここで、『円弧スライダーのエリア全体』を表示する高さを指定する必要あり。
  position: relative;

  @include mq(md) {
    height: rem(700);
  }
}

.arch-slider__main {

}

.arch-slider__sub-contents {
  position: absolute;
  top: 550px;
  left: 0;
  right: 0;
  margin: auto;
  width: rem(438);
  z-index: 15;

  @include mq(md) {
    top: 300px;
    width: rem(300);
  }
}
