@use "global" as *;


.bg-luncharms1 {
  // min-height: rem(455);
  height: rem(455);  // ここだけ、heightを指定
  max-height: rem(455);
  background: url(../images/common/bg-luncharms1-pc.png) no-repeat center center / cover;
}




// =======================================
// モディファイア
// =======================================
// bg-luncharms1--2 (lunch.htmlの2個目の背景部分)
.bg-luncharms1--2 {
  background: url(../images/common/bg-luncharms1-2-pc.png) no-repeat center center / cover;
}
