@use "global" as *;


.box {
  border-radius: rem(5);
  background: $color-background-base-1;
  text-align: center;
  padding-top: rem(40);
  padding-bottom: rem(48);

  @include mq(md) {
    border-radius: rem(10);
    padding-top: rem(25);
    padding-bottom: rem(30);
  }
}

.box__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(6);
  padding-inline: rem(15);
  padding-bottom: rem(17.5);
  position: relative;

  @include mq(md) {
    gap: rem(1);
    padding-bottom: rem(13);
    padding-inline: rem(10);
  }
}

.box__top::after {
  content: "";
  width: 87.2%;
  height: 1px;
  background: #DDD;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.box__top-icon {

}

.box__top-icon img {
  aspect-ratio: 1 / 1;
  width: rem(34);
  height: rem(34);

  @include mq(md) {
    width: rem(30);
    height: rem(30);
  }
}

.box__top-text {
  color: $color-accent1;
  font-size: rem(24);
  font-weight: $bold;
  line-height: 2.1;
  letter-spacing: 0.07em;
  text-indent: 0.07em;

  @include mq(md) {
    font-size: rem(18);
  }
}

.box__bottom {
  margin-top: rem(19);
  padding-inline: rem(7);

  @include mq(md) {
    margin-top: rem(15);
  }
}

.box__bottom-text {
  font-size: rem(17);
  font-weight: $medium;
  line-height: 2.1;
  letter-spacing: -0.01em;
  text-indent: -0.01em;

  font-size: calc(17px / 1920px * 100vw);
  font-size: clamp(7px, calc(17px / 1920px * 100vw), 17px);

  @include mq(md) {
    font-size: rem(16);
  }
}
