@use "global" as *;


.breadcrumbs-area {
  position: relative;
  z-index: 40;
}

.breadcrumbs-area__inner {
  max-width: rem(calc(1776 + 60 * 2));
  margin-inline: auto;
  padding-inline: rem(60);

  @include mq(md) {
    max-width: none;
    padding-inline: rem(20);
  }
}

.breadcrumbs-area__breadcrumbs {

}

