@use "global" as *;


.btns5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(16);
}

.btns5__item {
  @include mq(md) {
    // max-width: rem(236);
    // width: 100%;
    width: rem(236);
  }
}
