@use "global" as *;


.btn3 {
  aspect-ratio: 1 / 1;
  border: rem(1) solid $color-accent1;
  background: $color-accent1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background 0.2s ease-out;
}

.btn3 svg {
  width: rem(15);
}

.btn3 svg path {
  transition: fill 0.2s ease-out;
}


// hover
.btn3:hover {
  background: #FFF;
}

.btn3:hover svg path {
  fill: $color-accent1;
}




// =======================================
// モディファイア
// =======================================
.btn3--gray {
  border: rem(1) solid #FFF;
  background: transparent;
}

.btn3--gray:hover svg path {
  fill: #424242;
}
