@use "global" as *;


.btn10 {
  // padding-top: rem(4);
  // padding-bottom: rem(6);
  padding-block: rem(5);
  padding-inline: rem(19);
  line-height: 1.0;
  text-align: center;
  color: $color-accent1;
  background: #FFF;
  border: 1px solid $color-accent1;
  border-radius: rem(15);
  font-size: rem(16);
  transition: background 0.2s ease-out, color 0.2s ease-out;
}

.btn10:hover {  // hover
  background: $color-accent1;
  color: #FFF;
}
