@use "global" as *;


.case-detail {

}

.case-detail__wrap {

}

.case-detail__top {

}

.case-detail__top-inner {

}

.case-detail__titles {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(41);
}

.case-detail__category {
  display: inline-block;
  padding-block: rem(18);
  padding-inline: rem(24);
  font-size: rem(20);
  font-weight: $bold;
  color: #FFF;
  background: $color-accent2;
}

.case-detail__title {
  font-family: $font-family-ja-1;
  font-size: rem(40);
}

.case-detail__eye-catch {
  margin-top: rem(45);
  max-width: rem(710);
  margin-inline: auto;
  border-radius: rem(10);
}

.case-detail__eye-catch img {
  aspect-ratio: 710 / 430;
  width: 100%;
}

.case-detail__tags {
  margin-top: rem(50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(22);
  flex-wrap: wrap;
}

.case-detail__tag {  // 『#』が自動でタグの前に生成されるように指定。
  font-size: rem(20);
  font-weight: $medium;
  padding-left: rem(14);  // 自動生成する『#』のための余白を設定
  position: relative;

  @include mq(md) {
    font-size: rem(15);
    padding-left: rem(10);  // 自動生成する『#』のための余白を設定
  }
}

.case-detail__tag::after {  // 自動生成する『#』(半角)
  content: "#";
  font-size: rem(20);
  font-weight: $medium;
  position: absolute;
  top: 0;
  left: 0;

  @include mq(md) {
    font-size: rem(15);
  }
}

.case-detail__bottom {
  background: #f5f5f5;
  margin-top: rem(72);
}

.case-detail__bottom-inner {

}

.case-detail__bottom-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: rem(81);
}

.case-detail__sidebar-wrap {
  flex-grow: 1;
  width: 20.28%;
  // border-right: 1px solid #e6e6e6;
  position: relative;
}

.case-detail__sidebar-wrap::after {  // 右側の仕切り線
  content: "";
  width: 1px;
  height: 94.5%;
  border-right: 1px solid #e6e6e6;
  position: absolute;
  top: rem(81);
  right: 0;
}

.case-detail__sidebar {
  padding-top: rem(84);
  padding-bottom: rem(70);
  position: sticky;  // 追従するように指定。
  top: 0;
  left: 0;
}

.case-detail__nav {

}

.case-detail__nav-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(72);

  @include mq(md) {
    gap: rem(50);
  }
}

.case-detail__nav-item {

}

.case-detail__nav-title {
  color: $color-accent1;
  font-size: rem(17);
  font-weight: $bold;
  line-height: 1.2;
  transition: color 0.2s ease-out;

  @include mq(md) {
    font-size: rem(15);
  }
}



// ※WordPressのテンプレートタグ『wp_list_categories()』や『wp_tag_cloud()』を使ってカテゴリやタグを表示するため、タグ自体にスタイルを適用。(親要素のulタグにはオプションで付与するクラス名を指定出来るため、クラスを付与してOK。)
.case-detail__nav-list {  // ulタグ
  margin-top: rem(33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(24);

  @include mq(md) {
    margin-top: rem(28);
    gap: rem(15);
  }
}

.case-detail__nav-list li {  // CMS構築時を考慮して、タグ自体にCSSを付与。
  font-size: rem(14);
  font-weight: $normal;
  leading-trim: both;
  text-edge: cap;
  line-height: 1.28;
  letter-spacing: 0.02em;
  text-indent: 0.02em;
  padding-left: rem(16);
  position: relative;
  transition: color 0.2s ease-out;

  @include mq(md) {
    font-size: rem(12);
  }
}

.case-detail__nav-list li::before {  // 赤の横線 (-)
  content: "";
  width: rem(8);
  height: 0; // 高さを0に設定
  border-top: 1px solid $color-accent1; // 上部の線を描画 (『height』で指定すると、サブピクセルレンダリングの影響を受けて画面幅によって太さが変わってしまうため、borderを用いて線の太さを制御)
  position: absolute;
  top: rem(8);
  left: 0;
  transition: border-top 0.2s ease-out;
  max-height: 1px;

  @include mq(md) {
    top: rem(8.5);
  }
}

.case-detail__nav-list li:hover {  // hover
  color: $color-accent1;
}

.case-detail__nav-list li:hover::before {  // hover
  border-top: rem(1) solid $color-accent1;
}


.case-detail__main {
  padding-top: rem(84);
  flex-grow: 1;
  width: 75.5%;
  padding-bottom: rem(160);
}

.case-detail__main-wrap {  // WordPressの『the_content()』の親要素

}

.case-detail__main-wrap h2 {  // WordPressの『the_content()』の親要素
  color: #FFF;
  font-size: rem(32);
  font-weight: $bold;
  line-height: 1.68;
  background: $color-accent1;
  padding-block: rem(21);
  padding-inline: rem(29);
  border-radius: rem(10);
}

.case-detail__main-img1 {
  margin-top: rem(63);
  max-width: rem(1080);
}

.case-detail__main-img1 img {
  aspect-ratio: 1080 / 717;
  width: 100%;
  object-fit: cover;
}

.case-detail__main-images3 {
  margin-top: rem(63);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(25);
}

.case-detail__main-img3 {
  aspect-ratio: 343 / 268;
  width: 100%;
  object-fit: cover;
}

.case-detail__main-img3 img {
  max-width: rem(343);
}

.case-detail__main-flex1 {
  margin-top: rem(63);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: rem(28);
}

.case-detail__main-img4 {
  max-width: rem(516);
}

.case-detail__main-img4 img {
  aspect-ratio: 516 / 348;
  width: 100%;
  object-fit: cover;
}

.case-detail__main-text1 {
  font-size: rem(16);
  line-height: 1.75;
  font-weight: $medium;
}

.case-detail__main-flex2 {
  margin-top: rem(63);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: rem(28);
}

.case-detail__main-text2 {
  font-size: rem(16);
  line-height: 1.75;
  font-weight: $medium;
}

.case-detail__main-img5 {
  max-width: rem(516);
}

.case-detail__main-img5 img {
  aspect-ratio: 516 / 348;
  width: 100%;
  object-fit: cover;
}

.case-detail__main-text3 {
  margin-top: rem(63);
  font-size: rem(16);
  line-height: 1.75;
}


.case-detail__main-pagenavi {
  margin-top: rem(63);
}
