@use "global" as *;



.case {
  padding-block: rem(120);
  background: #F5F5F5;
  overflow-x: hidden;  // vwを使っているため、スクロールバーの分の横スクロールを防ぐ
}

.case__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(90.19);
  position: relative;
}

.case__headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(32);
  width: rem(366);
}

.case__head {

}

.case__head-text {
  font-size: rem(18);
  font-weight: $medium;
  line-height: 1.8;
  letter-spacing: 0.07em;
}

.case__head-btn {
  margin-top: rem(-15);
}

.case__contents {
  border-radius: rem(16) 0 0 rem(16);
  background: $color-background-base-1;
  padding-top: rem(96);
  padding-bottom: rem(174.5);
  padding-left: rem(96.2);
  margin-right: calc(50% - 50vw);  // ※親要素をはみ出るように指定。
  position: relative;
}



// swiper
.case__swiper {

}

.case__posts {

}

.posts1.swiper-wrapper {

}

.post1.swiper-slide {

}


// swiperの「前へ」「次へ」ボタン
.case__arrows {
  width: rem(181);
  height: rem(41);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(115);
  position: absolute;
  bottom: rem(48);
  right: calc(50% - min(48vw, 56rem));  // ※min関数で制御
  z-index: 100;
}

.case__prev,
.case__next {
  z-index: 30;
}

.case__prev::after,
.case__next::after {
  display: none;  // swiperのデフォルトの青い矢印(ボタン)を消す
}

.case__prev-img,
.case__next-img {

}

.case__prev svg,
.case__next svg {
  width: rem(33);
}

.case__prev svg path,
.case__next svg path {
  transition: fill 0.2s ease-out;
}

.case__prev:hover svg path,
.case__next:hover svg path {
  fill: $color-accent1;
}


// ページネーション (枚数表示)
  // スライドの総数と現在のスライドが何番目か表示させる：『1/5』のように。
.swiper-pagination-fraction {  // JSで制御すると自動生成されるクラス名に指定
  color: $color-font-base;
  font-family: $font-family-base;
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(6);

  transform: translateY(rem(6));  // 位置調整
}

// 『1/5』の部分の、『/』だけスタイルを変更
  // JavaScriptで、「custom-slash」というクラス名の<span>タグで囲われるように別途指定。
.custom-slash {
  font-size: rem(30);
  // font-weight: $normal;
}
