@use "global" as *;


.category2 {
  font-family: $font-family-ja-2;
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.9;
  position: relative;
}

.category2:not(:last-child)::after {  // 『/』を、最後の要素以外に付与
  content: "/";
  width: rem(8);
  height: rem(38);
  font-family: $font-family-ja-2;
  font-size: rem(20);
  font-weight: $medium;
  line-height: 1.9;
  position: absolute;
  top: 50%;
  left: calc(100% + rem(12));
  transform: translateY(-50%);
}
