@use "global" as *;


.category3 {
  display: grid;
  place-items: center;
  padding: rem(16);
  border-radius: rem(5);
  background: $color-accent1;
  color: #FFF;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 2.0;
}
