@use "global" as *;


.checkbox {
  transition: background 0.2s ease-out;
}

.checkbox:hover .checkbox__text::before,
.checkbox:focus .checkbox__text::before {  //『入力時』＝『focus時』
  background: rgba(64, 224, 208, 0.1);  /* ターコイズブルー + 透明度30％ */
}

.checkbox__input {
  width: 1px;  // デフォルトのチェックボックスを、機能は残したまま非表示に。
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.checkbox__input:checked + .checkbox__text::after {  // <input>をクリックした際の『checked属性』のON/OFFが切り替わるのを利用
  opacity: 1;
}

.checkbox__text {
  font-size: rem(18);
  font-weight: $normal;
  line-height: normal;
  position: relative;
  padding-left: rem(22);
}

.checkbox__text::before {  // チェックボックスの外枠の四角
  content: "";
  width: rem(13);
  min-width: 10px;
  height: rem(13);
  min-height: 10px;

  border: 2px solid #8a8a97;
  border-radius: rem(1);
  background: #FFF;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(calc(-50% + rem(1)));
}

.checkbox__text::after {  // チェックボックスのチェックマークアイコン。
  content: "";
  width: rem(5);
  min-width: 4px;
  height: rem(11);
  min-height: 9px;
  border: 1px solid $color-accent1;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: rem(4);
  transform: translateY(calc(-50% - rem(1))) rotate(45deg);
  opacity: 0;
}


.checkbox__require {  // 『必須』の文字
  display: inline-block;
  color: #FFF;
  font-size: rem(12);
  font-weight: $bold;
  line-height: 1.0;
  letter-spacing: 0.04em;
  text-indent: 0.04em;
  padding-block: rem(3.5);
  padding-inline: rem(4.5);
  background: $color-accent1;
  border-radius: rem(2);
  text-align: center;
  flex-shrink: 0;
}


/* お問い合わせ項目のチェックボックスのエラー時 */
.is-error + .checkbox__text::before {
  border: 1px solid #C94800;  /* 赤枠 */
  background: rgba(201, 72, 0, 0.20);  /* 背景を淡い赤色に */
}
