@use "global" as *;


.contents {

}

.contents__item {

}

.contents__item.is-01 {
  margin-left: rem(-100);
}

.contents__item.is-02 {
  margin-top: rem(227);
  margin-right: rem(-190);
}

.contents__item.is-03 {
  margin-top: rem(348);
  margin-left: rem(-240);
}
