@use "global" as *;


.contact {
  background: #f5f5f5;
  padding-top: rem(80);
  padding-bottom: rem(163);
  padding-inline: rem(40);

  @include mq(md) {
    padding-top: rem(60);
    padding-bottom: rem(90);
    padding-inline: 0;
  }
}

.contact__inner {

}

.contact__form-wrap {

}

.contact__form {

}
