@use "global" as *;


.content {
  position: relative;
}

.content__dashline.is-pc {  // 赤い点線 (PC時)
  display: block;
  position: absolute;
  top: rem(70);
  left: rem(140);
  width: rem(671);
  height: fit-content;
  z-index: -1;

  @include mq(md) {
    display: none;
  }
}

.content__dashline.is-sp {  // 赤い点線 (SP時)
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(-135);
    left: rem(-20);
    width: rem(318);
    height: fit-content;
    z-index: -1;
  }
}

.content__title {
  width: fit-content;
}

.content__title.is-01 {
  position: absolute;
  top: rem(-20);
  right: calc(50% - min(48vw, 39rem));  // 位置制御

  @include mq(md) {
    top: auto;
    bottom: calc(100% + rem(45));
    right: rem(-22);
  }
}

.content__title.is-02 {
  position: absolute;
  top: rem(-20);
  left: calc(50% - min(48vw, 38rem));  // 位置制御

  @include mq(md) {
    top: auto;
    bottom: calc(100% + rem(84));
    left: rem(-14);
  }
}

.content__title.is-03 {
  position: absolute;
  top: rem(-40);
  right: calc(50% - min(48vw, 39rem));  // 位置制御

  @include mq(md) {
    top: auto;
    bottom: calc(100% + rem(69));
    right: rem(-18);
  }
}

.content__title.is-04 {
  position: absolute;
  top: rem(-164);
  left: calc(50% - min(48vw, 36rem));  // 位置制御

  @include mq(md) {
    top: auto;
    bottom: calc(100% + rem(204));
    left: rem(-1);
  }
}

.content__title.is-05 {
  position: absolute;
  top: rem(-136);
  right: calc(50% - min(48vw, 39rem));  // 位置制御

  @include mq(md) {
    top: auto;
    bottom: calc(100% + rem(205));
    right: rem(-10);
  }
}

.content__main {
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(md) {
    position: relative;
    display: block;
  }
}

.content__main.is-03,
.content__main.is-05 {
  flex-direction: row-reverse;
}

.content__img {
  width: fit-content;
  border-radius: 50%;
  border: rem(2) solid $color-font-base;
  box-shadow: rem(10) rem(10) 0px 0px $color-font-base;
  overflow: hidden;

  @include mq(md) {
    border: rem(1.5) solid $color-font-base;
    box-shadow: rem(7.5) rem(7.5) 0px 0px $color-font-base;
    flex-shrink: 0;

    position: absolute;
  }
}

.content__img.is-01 {
  @include mq(md) {
    top: rem(-290);
    left: calc(50% - min(64vw, 16.125rem));  // 位置制御
  }
}

.content__img.is-02 {
  @include mq(md) {
    top: rem(-313);
    right: calc(50% - min(64vw, 16.5rem));  // 位置制御
  }
}

.content__img.is-03 {
  @include mq(md) {
    top: rem(-269);
    left: calc(50% - min(66vw, 16.5rem));  // 位置制御
  }
}

.content__img.is-04 {
  @include mq(md) {
    top: rem(-291);
    right: calc(50% - min(50vw, 16.5rem));  // 位置制御
  }
}

.content__img.is-05 {
  @include mq(md) {
    top: rem(-270);
    left: calc(50% - min(60vw, 16.5rem));  // 位置制御
  }
}

.content__img img {
  aspect-ratio: 1 / 1;
  max-width: rem(433);
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    max-width: rem(324);
    width: rem(324);
  }
}

.content__img.is-04 img {
  max-width: rem(329);

  @include mq(md) {
    max-width: rem(247);
  }
}

.content__img.is-05 img {
  max-width: rem(465);

  @include mq(md) {
    max-width: rem(349);
  }
}

.content__speech-bubble {
  max-width: rem(514);

  @include mq(md) {
    max-width: rem(257);
  }
}

.content__speech-bubble.is-01 {
  margin-left: rem(-65);

  @include mq(md) {
    margin-left: 0;
  }
}

.content__speech-bubble.is-02 {
  margin-bottom: rem(-340);
  margin-left: rem(10);

  @include mq(md) {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.content__speech-bubble.is-03 {
  margin-top: rem(-200);
  margin-right: rem(-100);

  @include mq(md) {
    margin-top: 0;
    margin-right: 0;
  }
}

.content__speech-bubble.is-04 {
  margin-top: rem(-250);
  margin-left: rem(40);

  @include mq(md) {
    margin-top: 0;
    margin-left: 0;
  }
}

.content__speech-bubble.is-05 {
  margin-bottom: rem(-40);
  margin-right: rem(-50);

  @include mq(md) {
    margin-bottom: 0;
    margin-right: 0;
  }
}
