@use "global" as *;


.environment-products {
  background: #f5f5f5;
  padding-top: rem(90);
  padding-bottom: rem(95);

  @include mq(md) {
    padding-top: rem(55);
    padding-bottom: rem(55);
  }
}

.environment-products__inner {
  @include mq(md) {
    max-width: rem(calc(500 + 20 * 2));  // 両端のpadding分を考慮
    margin-inline: auto;
  }
}

.environment-products__title {

}

.environment-products__contents {
  max-width: rem(1200);
  margin-inline: auto;

  @include mq(md) {
    max-width: auto;
  }
}

.environment-products__list {
  margin-top: rem(70);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(55);

  @include mq(md) {
    margin-top: rem(30);
    gap: rem(40);
  }
}

.environment-products__list-item {

}

.environment-products__list-title {
  font-size: rem(24);
  font-weight: $bold;
  color: $color-accent1;

  @include mq(md) {
    font-size: rem(18);
  }
}

.environment-products__list-text {
  margin-top: rem(18);
  font-size: rem(16);
  line-height: 1.75;

  @include mq(md) {
    margin-top: rem(14);
    font-size: rem(14);
  }
}

.environment-products__text {
  margin-top: rem(55);
  font-size: rem(16);

  @include mq(md) {
    margin-top: rem(30);
    font-size: rem(14);
  }
}

.environment-products__btn-wrap {
  margin-top: rem(28);

  @include mq(md) {
    margin-top: rem(25);
    width: fit-content;
    margin-inline: auto;
  }
}

.environment-products__btn {
  background: #FFF;
}
