@use "global" as *;


.field {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6.64%;
  gap: rem(90);

  @include mq(md) {
    flex-direction: column;
    justify-content: center;
    gap: rem(15);  // 念の為SP時より上書き
  }
}

.field.is-agree {

}

.field__head {
  margin-top: rem(22);
  width: 16.64%;
  min-width: 150px;
  flex-shrink: 0;

  @include mq(md) {
    margin-top: 0;
    flex-grow: 1;
    width: 100%;
  }
}

.field__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(11);
}

.field__label-text {
  font-size: rem(18);
  font-weight: $bold;
  line-height: normal;
  flex-shrink: 0;

  @include mq(md) {
    font-size: rem(16);
  }
}

.field__label-require {  // 『必須』のラベル
  display: inline-block;
  color: #FFF;
  font-size: rem(12);
  font-weight: $bold;
  line-height: 1.0;
  letter-spacing: 0.04em;
  text-indent: 0.04em;
  padding-block: rem(3.5);
  padding-inline: rem(4.5);
  background: $color-accent1;
  border-radius: rem(2);
  text-align: center;
  flex-shrink: 0;

  @include mq(md) {
    flex-shrink: 0;
  }
}

.field__item {
  width: 75.9%;

  @include mq(md) {
    flex-grow: 1;
    width: 100%;
  }
}

.field__item input {
  width: 100%;
}

.field__checkboxes {
  padding-left: rem(9);

  @include mq(md) {
    flex-grow: 1;
    width:  100%;
  }
}

.field__select-wrap {
  position: relative;
  width: 16.64%;
  min-width: rem(228);

  @include mq(md) {
    flex-grow: 1;
    width: 100%;
  }
}

.field__select {
  width: 100%;

  @include mq(md) {
    min-height: rem(42);
  }
}

.is-textarea {

}

.field__textarea {
  width: 100%;

  @include mq(md) {
    height: rem(140);
  }
}

.field__agree-checkbox {

}




// =======================================
// モディファイア
// =======================================
// field--mt (martin-topの値が小さい項目の場合)
.field--mt .field__head {
  margin-top: rem(5);

  @include mq(md) {
    margin-top: 0;
  }
}


// field--post-code (『『郵便番号』の部分。入力欄の幅が小さい)
.field--post-code .field__item {
  width: 23.5%;

  @include mq(md) {
    width: 100%;
  }
}


// field--mt2 (martin-topの値が小さい項目の場合。パターン2)
.field--mt2 .field__head {
  margin-top: rem(18);

  @include mq(md) {
    margin-top: 0;
  }
}
