@use "global" as *;


.footer {
  background: #FFF7F9;
  padding-top: rem(56);

  @include mq(md) {
    padding-top: rem(72);
  }
}

.footer__inner.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(50);  // 念の為指定

  @include mq(md) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: rem(40);
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(46);
  flex-shrink: 0;

  margin-top: rem(-140);

  @include mq(md) {
    margin-top: 0;
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
  }
}

.footer__title {
  transition: opacity 0.2s ease-out;
}

.footer__title:hover {  // hover
  opacity: 0.7;
}

.footer__title-text {
  font-size: rem(12);
  font-weight: $medium;
  line-height: 1.5;
}

.footer__title-text-pc-only {  // 『 | 株式会社旭創業』の文字は、PCのみ表示
  display: inline;

  @include mq(md) {
    display: none;
  }
}

.footer__logo {
  margin-top: rem(10);
  max-width: rem(251);
  width: 100%;

  @include mq(md) {
    max-width: rem(188.25);
  }
}

.footer__logo img {
  width: 100%;
}

.footer__informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(8);

  @include mq(md) {
    display: none;
  }
}

.footer__company-name {
  font-size: rem(14);
  font-weight: $medium;
  line-height: 1.5;
}

.footer__address {
  // transition: color 0.2s ease-out;
}

// .footer__address:hover {  // hover
//   color: $color-accent1;
// }

.footer__address-number {
  font-size: rem(14);
  font-weight: $medium;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.footer__address-text {
  font-size: rem(14);
  font-weight: $medium;
  line-height: 1.5;
}

.footer__map-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: rem(7);
  transition: opacity 0.2s ease-out;

  margin-top: rem(-35);

  @include mq(md) {
    display: none;
  }
}

.footer__map-link:hover {  // hover
  opacity: 0.6;
}

.footer__map-text {
  color: $color-accent1;
  font-size: rem(14);
  font-weight: $bold;
  line-height: 1.5;
  position: relative;
}

.footer__map-text::after {  // 下線
  content: "";
  width: 100%;
  height: 1px;
  background: $color-accent1;
  position: absolute;
  bottom: rem(-2);
  left: 50%;
  transform: translateX(-50%);
}

.footer__map-icon {  // 斜め右上向きのアイコン
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  max-width: rem(20);
  width: rem(20);
  object-fit: contain;

  display: grid;
  place-items: center;
}

.footer__map-icon img {
  aspect-ratio: 1 / 1;
  max-width: rem(20);
  width: rem(20);
  object-fit: contain;
}

.footer__tel {
  font-family: Roboto;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.5;
  transition: color 0.2s ease-out;
}

.footer__tel:hover {  // hover
  color: $color-accent1;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: rem(80);

  @include mq(md) {
    align-items: flex-start;
    gap: rem(40);
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
  }
}

.footer__buttons {
  @include mq(md) {
    max-width: 100%;
    width: 100%;
  }
}

.footer__nav {
  @include mq(md) {
    width: 100%;
  }
}


.footer__bottom {
  margin-top: rem(197);
  padding-inline: rem(70);

  @include mq(md) {
    margin-top: rem(60);
    padding-inline: rem(20);
  }
}

.footer__bottom-wrap {
  padding-block: rem(25.8);
  border-top: rem(1) solid #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(40);  // 念の為指定

  @include mq(md) {
    padding-top: rem(20);
    padding-bottom: rem(30.5);
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: rem(16);
  }
}

.footer__copyright {
  color: #888;
  font-family: $font-family-en-1;
  font-size: rem(11);
  font-weight: $bold;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.footer__policy {
  color: #888;
  font-size: rem(14);
  font-weight: $bold;
  line-height: 1.5;
  transition: color 0.2s ease-out;
}

.footer__policy:hover {  // hover
  color: $color-accent1;
}
