@use "global" as *;


.fv {
  position: relative;
  overflow-x: hidden;  // vwを使っているため、スクロールバーの分の横スクロールを防ぐ
}

.fv__inner {
  // height: 100vh;
}

// swiper
.fv__swiper {
  width: 100vw;
  margin: 0 calc(50% - 50vw);  // 親要素からはみ出す指定
}

.fv__swiper-wrapper.swiper-wrapper {
}

.fv__swiper-slide.swiper-slide {
  width: fit-content;
}

.fv__slide-item {
}

.fv__slide-img {
}

.fv__slide-img img {
  aspect-ratio: 1208 / 712;
  width: calc(1208px / 1920px * 100vw);
  max-width: rem(1208);
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 330 / 454;
    width: calc(330px / 390px * 100vw);
    max-width: rem(330);
    border-radius: rem(10);
  }
}

.fv__texts {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: rem(13);

  position: absolute;
  top: rem(65);
  // right: calc(480px / 1920px * 100vw);
  right: calc(50% - min(28vw, 30rem));  // ※min関数で制御
  z-index: 30;

  @include mq(md) {
    gap: rem(6.5);
    top: rem(96);
    right: calc(50% - min(37.05vw, 9.031rem));  // ※min関数で制御
  }
}

.fv__text-1,
.fv__text-2 {
  font-family: $font-family-ja-1;
  font-size: rem(36);
  font-weight: $normal;
  line-height: 1.45;
  letter-spacing: 0.44em;  // 文字の間隔を制御
  text-indent: 0.44em;

  writing-mode: vertical-rl; /* 縦書きに変更 */
  text-orientation: upright; /* 日本語や漢字をそのままの形で表示 */
  width: rem(56); /* 横幅を適切に設定 */
  padding: rem(10); /* テキストの周囲に余白を設定 */

  display: flex;  // 文字を中央揃え
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 30;

  @include mq(md) {
    font-size: rem(20);
    width: rem(28);
    padding: rem(5);
  }
}

.fv__text-1 {

}

.fv__text-2 {
  margin-top: rem(64);

  @include mq(md) {
    margin-top: rem(42);
  }
}

.fv__text-bg {
  width: inherit;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fv__text-bg-white {
  width: 100%;
  height: 100%;
  background: $color-background-base-1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.fv__text-bg-red {
  width: 100%;
  height: 100%;
  background: $color-accent1;
  position: absolute;
  top: rem(4);
  left: rem(4);
  z-index: 1;
}



