@use "global" as *;


.fv {
  position: relative;
}

.fv__inner {
  // height: 100vh;
}

// swiper
.fv__swiper {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.fv__swiper-wrapper.swiper-wrapper {
}

.fv__swiper-slide.swiper-slide {
  width: fit-content;
}

.fv__slide-item {
}

.fv__slide-img {
}

.fv__slide-img img {
  aspect-ratio: 1208 / 712;
  width: calc(1208px / 1920px * 100vw);
  max-width: rem(1208);
  object-fit: cover;
}

.fv__texts {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: rem(13);

  position: absolute;
  top: rem(32);
  right: rem(480);
  right: calc(480px / 1920px * 100vw);
  right: calc(50% - min(28vw, 30rem));  // ※min関数で制御
  z-index: 30;
}

.fv__text-1 {
  font-family: $font-family-ja-1;
  font-size: rem(36);
  font-weight: $normal;
  line-height: 1.45;
  letter-spacing: 0.44em;  // 文字の間隔を制御
  text-indent: 0.44em;

  writing-mode: vertical-rl; /* 縦書きに変更 */
  text-orientation: upright; /* 日本語や漢字をそのままの形で表示 */
  width: rem(56); /* 横幅を適切に設定 */
  padding: rem(10); /* テキストの周囲に余白を設定 */

  display: flex;  // 文字を中央揃え
  justify-content: center;
  align-items: center;
  position: relative;
}

.fv__text-2 {
  font-family: $font-family-ja-1;
  font-size: rem(36);
  font-weight: $normal;
  line-height: 1.45;
  letter-spacing: 0.44em;  // 文字の間隔を制御
  text-indent: 0.44em;

  writing-mode: vertical-rl; /* 縦書きに変更 */
  text-orientation: upright; /* 日本語や漢字をそのままの形で表示 */
  width: rem(56); /* 横幅を適切に設定 */
  padding: rem(10); /* テキストの周囲に余白を設定 */

  margin-top: rem(64);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// .fv__text-1::before,
// .fv__text-2::before {  // 文字の後ろの白い背景
//   content: "";
//   display: block;
//   width: inherit;
//   height: 100%;
//   background: $color-background-base-1;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: -1;
// }

// .fv__text-1::after,
// .fv__text-2::after {  // 赤い背景部分
//   content: "";
//   display: block;
//   width: inherit;
//   height: 100%;
//   background: $color-accent1;
//   position: absolute;
//   top: rem(7);
//   left: rem(7);
//   z-index: -2;
// }





// .fv__text-1,
// .fv__text-2 {  // 文字の後ろの白い背景
//   --scaleY: 0;  // 擬似要素の親要素にカスタムプロパティーを定義。広がっていくから、初期値は0にして見えないように。
// }

// .fv__text-1::before,
// .fv__text-1::after,
// .fv__text-2::before,
// .fv__text-2::after {
//   transform-origin: top;  /* アニメーションが上から下に動くように */
//   transform: scaleY(var(--scaleY));  /* カスタムプロパティでスケールを調整 */
// }






.fv__text-1,
.fv__text-2 {
  z-index: 30;
}

.fv__text-bg {
  width: inherit;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fv__text-bg-white {
  width: 100%;
  height: 100%;
  background: $color-background-base-1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.fv__text-bg-red {
  width: 100%;
  height: 100%;
  background: $color-accent1;
  position: absolute;
  top: rem(7);
  left: rem(7);
  z-index: 1;
}



