@use "global" as *;


.fv2 {

}

.fv2__inner.inner {
  max-width: rem(calc(1776 + 60 * 2));
  margin-inline: auto;
  padding-inline: rem(60);
  position: relative;

  @include mq(md) {
    max-width: none;
    padding-inline: rem(20);
  }
}

.fv2__wrap  {
  min-height: rem(400);
  border-radius: rem(10);

  @include mq(md) {
    min-height: rem(170);
    border-radius: rem(10);
  }
}

.fv2__text {
  color: #FFF;
  font-family: $font-family-ja-1;
  font-size: rem(32);
  font-weight: $normal;
  line-height: 0.9375;

  position: absolute;
  top: 50%;
  left: rem(220);
  transform: translateY(-50%);

  @include mq(md) {
    font-size: rem(24);
    line-height: 1.25;
    left: rem(40);
  }
}




// =======================================
// モディファイア
// =======================================
// fv2--service (事業紹介ページ)
.fv2--service .fv2__wrap {
  background: url(../images/page/pc/service_fv-bg.webp) no-repeat center center / cover;

  @include mq(md) {
    background: url(../images/page/sp/service_fv-bg.webp) no-repeat center center / cover;
  }
}

// fv2--recruit (採用情報ページ)
.fv2--recruit .fv2__wrap {
  background: url(../images/page/pc/recruit_fv-bg.webp) no-repeat center center / cover;

  @include mq(md) {
    background: url(../images/page/sp/recruit_fv-bg.webp) no-repeat center center / cover;
  }
}

// fv2--case (事例紹介(一覧)ページ)
.fv2--case .fv2__wrap {
  background: url(../images/page/pc/case_fv-bg.webp) no-repeat center center / cover;

  @include mq(md) {
    background: url(../images/page/sp/case_fv-bg.webp) no-repeat center center / cover;
  }
}

// fv2--case-detail (事例紹介(個別)ページ)
.fv2--case-detail .fv2__wrap {
  background: url(../images/page/pc/case_fv-bg.webp) no-repeat center center / cover;

  @include mq(md) {
    background: url(../images/page/sp/case_fv-bg.webp) no-repeat center center / cover;
  }
}
