@use "global" as *;


.fv3 {

}

.fv3__inner.inner {
  max-width: rem(calc(1776 + 60 * 2));
  margin-inline: auto;
  padding-inline: rem(60);
  position: relative;

  @include mq(md) {
    max-width: none;
    padding-inline: rem(20);
  }
}

.fv3__wrap  {
  min-height: rem(400);
  border-radius: rem(10);
  background: url(../images/page/pc/fv3-bg-red.png) no-repeat center center / cover;
  position: relative;

  @include mq(md) {
    min-height: rem(170);
  }
}

.fv3__text {
  color: #FFF;
  font-size: rem(32);
  font-weight: $medium;
  line-height: 0.9375;

  position: absolute;
  top: 50%;
  left: rem(150);
  transform: translateY(-50%);

  @include mq(md) {
    font-size: rem(24);
    line-height: 1.25;
    left: rem(30);
  }
}

.fv3__logo {  // 『Asahi』の白いロゴ
  width: fit-content;
  position: absolute;
  bottom: rem(25);
  right: rem(68);

  @include mq(md) {
    bottom: rem(15);
    right: rem(20);
  }
}

.fv3__logo img {
  aspect-ratio: 637 / 190;
  width: 100%;
  max-width: rem(637);

  @include mq(md) {
    width: rem(150);
  }
}
