@use "global" as *;


.header {
  padding-top: rem(32);
  background: rgba(255, 255, 255, 0.80);
  position: relative;

  // ページ上部に固定
  position: fixed; /* ページ上部に固定 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ヘッダーが他の要素の上に表示されるように */
  transition: transform 0.3s ease-out; /* スクロール時にスムーズに表示・非表示 */

  @include mq(md) {
    padding-top: rem(8);
    padding-bottom: rem(8);
  }
}

.header.hidden {
  transform: translateY(-100%); /* ヘッダーを上に非表示 */
}

.header__inner {
  // height: rem(152);
  // padding-inline: rem(72);
  padding-inline: 4.054%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(40);  // 念の為指定。

  max-width: calc(rem(1776) + (4.054%) * 2);  // 『padding-inline』の分も考慮
  margin-inline: auto;

  @include mq(md) {
    padding-inline: 5.128%;
    align-items: center;
    gap: rem(25.41);
    // max-width: calc(rem(600) + (5.128%) * 2);  // 『padding-inline』の分も考慮  // SP時の最大幅を600pxに設定
  }
}

.header__contents {
  width: 92.792%;

  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: rem(12);
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(20);  // 念の為指定。

  @include mq(md) {
    display: block;
    flex-shrink: 0;  // これ以上縮めないように
  }
}

.header__title {
  transition: opacity 0.2s ease-out;
}

.header__title:hover {  // hover
  opacity: 0.7;
}

.header__title-text {
  font-size: rem(14);
  font-weight: $bold;
  line-height: 1.5;

  @include mq(md) {
    font-size: rem(10);
    font-weight: $medium;
    line-height: 1.5;
  }
}

.header__buttons {
  @include mq(md) {
    display: none;
  }
}

.header__bottom {
  margin-top: rem(18);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(20);  // 念の為指定。

  @include mq(md) {
    margin-top: 0;
    display: block;
    max-width: rem(114.589);
    width: 100%;
    flex-shrink: 1;  // スペースが足りない場合に縮小できる
  }
}

.header__logo {
  display: inline-block;
  margin-top: rem(-32);
  max-width: rem(207);
  width: 100%;
  transition: opacity 0.2s ease-out;

  @include mq(md) {
    margin-top: 0;
    max-width: rem(114.589);
  }
}

.header__logo:hover {  // hover
  opacity: 0.7;
}

.header__logo img {
  width: 100%;
}

.header__nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(0px, calc(48px / 1920px * 100vw), rem(48));  // clamp関数で制御：clamp(最小値, 推奨値, 最大値)  最大でも48pxになるように指定。

  @include mq(md) {
    display: none;
  }
}

.header__link {
  padding-bottom: rem(28);  // 下にクリック領域を確保
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.5;
  position: relative;
}

.header__link::after {  // hover時の黒いアンダーライン
  content: "";
  background: $color-font-base;
  width: rem(16);
  height: rem(2);
  position: absolute;
  bottom: rem(16);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;  // 通常時は非表示
  visibility: hidden;  // 通常時は非表示
  transition: all 0.2s ease-out;
}

.header__link:hover::after {  // hover
  opacity: 1;  // hoverしたら表示
  visibility: visible;
}

.header__link.is-service::before,
.header__link.is-company::before {  // hover時のグレーの三角形▲ (サブメニューの一部)
  content: "";
  background: url(../images/common/sub-menu-polygon.svg) no-repeat center center / contain;
  width: rem(24);
  height: rem(11.7);
  position: absolute;
  bottom: rem(-3);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;  // 通常時は非表示
  transition: opacity 0.2s ease-out;
}

.header__link.is-service:hover::before,
.header__link.is-company:hover::before {  // hover
  opacity: 1;  // hoverしたら表示
}

/* .header__link::after (underline) と .header__link::before (triangle) は hover 時に表示される */
// active クラスが付いた場合も擬似要素を表示 (JSで制御)
.header__link.active::after,
.header__link.active::before {
  opacity: 1;
  visibility: visible;
}


.header__hamburger {  // ハンバーガーメニュー
  aspect-ratio: 1 / 1;
  max-width: rem(88);
  width: 100%;
  max-height: rem(88);
  height: 100%;
  border-radius: rem(3.2);
  background: $color-background-base-2;
  display: grid;
  place-items: center;
  transition: opacity 0.2s ease-out;

  @include mq(md) {
    max-width: rem(60);
    max-height: rem(60);
  }
}

.header__hamburger:hover {  // hover
  opacity: 0.8;
}

.js-header__hamburger {

}

.header__bars {
  width: rem(27.2);
  height: rem(25.6);
  position: relative;

  @include mq(md) {
    width: rem(27.2);
    height: rem(21.8);
  }
}

.header__bar {
  display: block;
  width: rem(24);
  // height: rem(3.2);
  // height: 3px;
  // height: calc(3.2px / 1920px * 100vw);
  // max-height: 3.2px;
  // min-height: 2px;
  // height: clamp(2px, calc(1px + 1vw), 3.2px);
  // height: clamp(2px, 0.2rem + 1vw, 3.2px); // 最小値: 2px, 理想値: 0.2rem + 1vw, 最大値: 3.2px
  // background: $color-font-base;
  height: 0; // 高さを0に設定
  border-top: rem(3.2) solid $color-font-base; // 上部の線を描画 (『height』で指定すると、サブピクセルレンダリングの影響を受けて画面幅によって太さが変わってしまうため、borderを用いて線の太さを制御)
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-out, top 0.3s ease-out, opacity 0.2s ease-out;
  max-height: 3.1px;

  @include mq(md) {
    // height: rem(3);
    border-top: rem(3) solid $color-font-base;
  }
}

.header__bar:nth-of-type(2) {
  width: rem(16);
  top: rem(9.4);
}

.header__bar:nth-of-type(3) {
  width: rem(27.2);
  top: rem(18.8);
}
