@use "global" as *;


.item1 {

}

.item1__card {
  max-width: rem(654);
  width: 100%;

  @include mq(md) {
    max-width: rem(320);
  }
}

.item1__list {
  margin-top: rem(22);
  margin-left: rem(20);

  @include mq(md) {
    margin-top: rem(24);
    margin-left: 0;
  }
}
