@use "global" as *;


.link1 {
  display: inline-block;
  font-size: rem(18);
  font-weight: $medium;
  line-height: 1.9;
  letter-spacing: 0.04em;
  padding-left: rem(31);
  position: relative;
  transition: transform 0.2s ease-out;

  @include mq(md) {
    font-size: rem(14);
    padding-left: rem(19.87);
  }
}

.link1:hover {  // hover
  transform: translateX(rem(3));
}

.link1::before {  // 赤い三角形 ▶︎
  content: "";
  width: rem(15);
  height: rem(12);
  background: url(../images/common/polygon-red.svg) no-repeat center center / contain;
  position: absolute;
  top: rem(11);  // もし2行になっても、1行目の真ん中に来るように指定。
  left: 0;

  @include mq(md) {
    width: rem(12);
    height: rem(9.6);
    top: rem(8);
  }
}
