@use "global" as *;


.link2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: rem(8);
}

.link2__text {
  color: $color-accent1;
  font-family: $font-family-ja-2;
  font-size: rem(20);
  font-weight: $medium;
  line-height: 2.0;
}

.link2__btn {
  width: rem(40);
}
