@use "global" as *;


.list-item2 {

}

.list-item2__title {
  font-size: rem(16);
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.04em;
  text-indent: 0.04em;
  padding-left: rem(14);
  position: relative;

  @include mq(md) {
    padding-left: 0;
  }
}

.list-item2__title::before {  // 左側の赤い横線
  // content: "";
  // width: rem(8);
  // height: rem(1);
  // background: $color-accent1;
  // position: absolute;
  // top: rem(12);
  // left: 0;
  content: "";
  width: rem(8);
  height: 0; // 高さを0に設定
  border-top: 1px solid $color-accent1; // 上部の線を描画 (『height』で指定すると、サブピクセルレンダリングの影響を受けて画面幅によって太さが変わってしまうため、borderを用いて線の太さを制御)
  position: absolute;
  top: rem(12);
  left: 0;
  max-height: 1px;

  @include mq(md) {
    display: none;
  }
}

.list-item2__text {
  margin-top: rem(3);
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.7;
  letter-spacing: 0.07em;
  text-indent: 0.07em;

  @include mq(md) {
    margin-top: rem(7.29);
  }
}
