@use "global" as *;


.list1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // gap: rem(0);

  @include mq(md) {
    gap: rem(6);
  }
}

.list1__item {

}
