@use "global" as *;


.lists2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(3);

  @include mq(md) {
    gap: rem(6);
  }
}

.list2__item {

}




// =======================================
// モディファイア
// =======================================
// lists2--2 (事業紹介ページの)
.lists2--2.lists2 {
  gap: rem(14);

  @include mq(md) {
    gap: rem(8);
  }
}
