@use "global" as *;


.list-item {
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.8;
  padding-left: rem(17);
  position: relative;

  @include mq(md) {
    font-size: rem(13);
  }
}

.list-item::before {  // リストの前の点『・』
  content: "・";
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.8;
  position: absolute;
  top: rem(0.5);
  left: 0;

  @include mq(md) {
    font-size: rem(13);
  }
}




// =======================================
// モディファイア
// =======================================
// list-item--2
.list-item--2 {
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.75;

  @include mq(md) {
    font-size: rem(14);
  }
}
