@use "global" as *;


.list8 {

}

.list8__item {
  padding-block: rem(27);
  padding-inline: rem(20);
  border-top: 1px solid #b3b1b1;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  // gap: rem();

  @include mq(md) {
    padding-block: rem(18);
    padding-inline: 0;
    flex-direction: column;
    gap: rem(10);
  }
}

.list8__item.is-exist-btn {
  padding-block: rem(14);
}

.list8__item:last-of-type {
  border-bottom: 1px solid #b3b1b1;
}

.list8__item-title {
  font-size: rem(16);
  font-weight: $bold;

  width: 16.9%;

  @include mq(md) {
    font-size: rem(16);
    width: 100%;
  }
}

.list8__item-title.is-exist-btn {
  align-self: center;
}

.list8__item-body {
  font-size: rem(16);
  line-height: 1.3;

  width: 83%;

  @include mq(md) {
    font-size: rem(14);
    width: 100%;
  }
}

.list8__item-body-flex {
  width: 83%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: rem(7);
  }
}

.list8__item-body-left {
  font-size: rem(16);

  @include mq(md) {
    font-size: rem(14);
  }
}

.list8__item-body-right {
  width: fit-content;
}

.list8__item-btn {
  min-width: rem(230);

  @include mq(md) {
    min-width: auto;
  }
}


.list8__item-link {
  color: $color-accent1;
  font-size: rem(16);
  position: relative;
  transition: opacity 0.2s ease-out;

  @include mq(md) {
    font-size: rem(14);
  }
}

.list8__item-link:hover {  // hover
  opacity: 0.6;
}

.list8__item-link::before {  // 下線
  content: "";
  width: 100%;
  height: 1px;
  background: $color-accent1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.list8__item-link::after {  // 外部リンクのアイコン
  content: "";
  width: rem(16);
  height: rem(17);
  background: url(../images/common/external-link-red.webp) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  right: rem(-22);
  transform: translateY(calc(-50% + 2px));

  @include mq(md) {
    width: rem(12);
    height: rem(13);
    right: rem(-18);
  }
}
