@use "global" as *;


.mega-menu {  // (モーダル)
  padding: 0;  // <dialog>タグにデフォルトで当たっている指定を打ち消し。
  border: none;  // <dialog>タグにデフォルトで当たっている指定を打ち消し。
  width: 97.5vw;  // メガメニューだけは、Blockに幅を指定。
  max-width: rem(1872);
  border-radius: rem(5);
  background: $color-background-base-1;
  z-index: 1000;

  // transform: scale(0.8);  // 初期状態を小さくする指定は、下の『transform』で一緒に指定。
  opacity: 0;  // 初期状態を透明に
  transition: transform 0.2s ease-out, opacity 0.3s ease-out;  // アニメーションを設定

  /* 画面上部から24px離れた位置に固定 */
  position: fixed;  /* スクロールしても画面内に固定 */
  top: rem(24);  /* 上部から24px離す */
  left: 50%;  /* 水平方向の中央に配置 */
  transform: translateX(-50%) scale(0.8);  /* 水平中央揃え ＋ 初期状態を小さく */
  margin: 0;  // dialogタグにデフォルトで当たっている指定を打ち消し。(『margin-top』と『margin-bottom』がデフォルトで当たっており、上下中央に来るようにしてあるためそれを打ち消し。)

  @include mq(md) {
    width: 93.846vw;
    max-width: none;
    border-radius: rem(10);
    top: rem(12);
  }
}

// 要素を固定するクラス (スクロール不可に)
.is-fixed {
  overflow: hidden;
}

.mega-menu.is-visible {  // モーダルが表示される際のアニメーション
  transform: translateX(-50%) scale(1);  // 元のサイズに
  opacity: 1;  // 不透明に
  margin: 0;  // dialogタグにデフォルトで当たっている指定を打ち消し。(『margin-top』と『margin-bottom』がデフォルトで当たっており、上下中央に来るようにしてあるためそれを打ち消し。)
}

.mega-menu::backdrop {  // モーダルが表示されている間の暗い背景
  opacity: 0.8;
  background: rgba(98, 98, 98);
}

.mega-menu__head {
  padding-top: rem(31);
  padding-bottom: rem(23);
  padding-left: rem(48);
  padding-right: rem(77.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(50);  // 念の為設定
  border-bottom: rem(1) solid #626262;

  @include mq(md) {  // スマホ時にスクロールした時に、ボタンをstickyする為の親クラス(親クラスが必要)
    position: sticky;
    z-index: 5000;
    background: $color-background-base-1;  // 背景色がないと、スクロール時に下の内容と重なってしまう。

    padding-top: rem(27);
    padding-bottom: rem(28);
    padding-left: rem(8);
    padding-right: rem(22.5);
    top: 0;
    left: 0;
    border-bottom: none;
  }
}

.mega-menu__titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(10);
  transition: opacity 0.2s ease-out;
}

.mega-menu__titles:hover {  // hover
  opacity: 0.7;
}

.mega-menu__logo {
  width: rem(207);
  max-width: 100%;

  @include mq(md) {
    width: rem(86);
  }
}

.mega-menu__logo img {
  width: 100%;
}

.mega-menu__title-text {
  font-size: rem(14);
  font-weight: $bold;
  line-height: 1.5;

  @include mq(md) {
    display: none;
  }
}

.mega-menu__close {  // 『×』ボタン
  width: rem(26.74);
  height: rem(26.74);
  position: relative;
  z-index: 100;
}

.mega-menu__close-bar {
  display: inline-block;
  width: 100%;
  height: rem(2);
  background: $color-font-base;
  position: absolute;
  top: rem(13.4);
  left: 0;
  right: 0;
  transition: transform 0.3s ease-out, top 0.3s ease-out, opacity 0.2s ease-out;

  @include mq(md) {
    height: rem(2.5);
  }
}

.mega-menu__close-bar:nth-of-type(1) {
  transform: rotate(45deg);
}

.mega-menu__close-bar:nth-of-type(2) {
  transform: rotate(-45deg);
}

.mega-menu__body {
  padding-top: rem(95);
  padding-bottom: rem(80);
  padding-inline: rem(30);  // 念の為指定。

  @include mq(md) {
    padding-top: rem(18);
    padding-bottom: rem(42);
    padding-left: rem(24);
    padding-right: rem(32);

    max-width: rem(556);  // 500+24+32=556 (paddingを考慮)
    width: 100%;
    margin-inline: auto;
  }
}

.mega-menu__body-wrap {
  width: rem(1208);
  max-width: rem(1208);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: rem(61.7);

  @include mq(md) {
    max-width: none;
    width: 100%;
    align-items: flex-start;
    gap: rem(41);
  }
}

.mega-menu__contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(136.93);

  @include mq(md) {
    display: block;
  }
}

.mega-menu__img {
  border-radius: rem(7);
  overflow: hidden;
  aspect-ratio: 307 / 443;
  // width: rem(307);
  max-width: rem(307);
  object-fit: cover;
  flex-grow: 1;
  width: 100%;

  @include mq(md) {
    display: none;
  }
}

.mega-menu__img img {
  width: 100%;
}



.mega-menu__nav {

}

.mega-menu__buttons {
  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    gap: rem(12);
  }
}
