@use "global" as *;


.nav-sub {

}

.nav-sub__title {
  color: #000;
  font-size: rem(17.425);
  font-weight: $normal;
  line-height: 1.5;
  transition: color 0.2s ease-out;

  @include mq(md) {
    font-size: rem(14);
  }
}

.nav-sub__title:hover {  // hover
  color: $color-accent1;
}

.nav-sub__lists {
  margin-top: rem(10);

  @include mq(md) {
    margin-top: rem(9.5);
  }
}




// =======================================
// モディファイア
// =======================================
// nav-sub--2 (事業紹介ページの)
.nav-sub--2 {

}

.nav-sub--2 .nav-sub__title {
  color: $color-font-base;
  font-size: rem(16);
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.01em;
  text-indent: 0.01em;
  position: relative;
  padding-left: rem(22);

  @include mq(md) {
    font-size: rem(14);
  }
}

.nav-sub--2 .nav-sub__title::before {  // 小さなランチャーム
  content: "";
  aspect-ratio: 16 / 6.635;
  width: rem(16);
  height: rem(6.635);
  background: url(../images/common/nav-sub--2_title-img.webp) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.nav-sub--2 .nav-sub__title:hover {  // hover
  color: $color-accent1;
}

.nav-sub--2 .nav-sub__lists {
  margin-left: rem(22);

  @include mq(md) {
    margin-left: rem(16);
  }
}
