@use "global" as *;


.navs {
  background: #F5F5F5;
}

.navs__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(85.5);
}

.navs__left {
  padding-top: rem(122);
  padding-bottom: rem(134);
  flex-grow: 1;
  width: 19.5%;
  padding-right: rem(11.5);
  border-right: 1px solid #EDEDED;

  @include mq(md) {
    display: none;
  }
}

.navs__sub {

}

.navs__right {
  padding-top: rem(109.85);
  padding-bottom: rem(120.15);
  flex-grow: 1;
  width: 74.1780%;

  @include mq(md) {
    padding-top: rem(32);
    padding-bottom: rem(46.13);
    width: 100%;
  }
}

.navs__main {
  @include mq(md) {
    max-width: rem(500);
    margin-inline: auto;
  }
}
