@use "global" as *;


.nav2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: rem(64);
}

.nav2__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(40);
}

.nav2__contents {

}

.nav2__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(5);
}

.nav2__title-en {
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: rem(36);
  font-weight: 100;
  line-height: 1.5;
}

.nav2__title-ja {
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.5;
}

.nav2__title:hover {  // hover
  color: $color-accent1;
}

.nav2__sub-contents {
  margin-top: rem(12.3);
}

.nav2__btn {  // 『SNSはこちら』

}
