@use "global" as *;


.nav-sub2 {

}

.nav-sub2__title {
  color: $color-font-base;
  font-size: rem(15);
  font-weight: $medium;
  line-height: 1.5;
  transition: color 0.2s ease-out;
}

.nav-sub2__title:hover {  // hover
  color: $color-accent1;
}

.nav-sub2__lists {
  margin-top: rem(2);
}
