@use "global" as *;


.nav2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  // gap: rem(64);
  gap: rem(80);

  @include mq(md) {
    flex-direction: column;
    justify-content: center;
    gap: rem(30);
  }
}

.nav2__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(32);

  @include mq(md) {
    gap: rem(30);
    width: 100%;
  }
}

.nav2__contents {
  @include mq(md) {
    width: 100%;
  }
}

.nav2__contents.is-open .nav2__click-wrap .nav2__accordion-btn .nav2__plus-btn .plus-btn__bar-vertical {  // 『.is-open』が付いた時に『＋』ボタンの縦線が横線になるように90度回転
  @include mq(md) {
    transform: rotate(90deg);
  }
}

.nav2__contents.is-open .nav2__click-wrap .nav2__accordion-btn .nav2__plus-btn .plus-btn__bar-horizontal {  // 『.is-open』が付いた時に『＋』ボタンの横線が非表示に。
  @include mq(md) {
    opacity: 0;
    visibility: hidden;
  }
}

.nav2__click-wrap {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav2__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(3);
  transition: color 0.2s ease-out;

  @include mq(md) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: rem(8);
    flex-shrink: 0;
  }
}

.nav2__title:hover {  // hover
  color: $color-accent1;
}

.nav2__title-en {
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: rem(36);
  font-weight: 100;
  line-height: 1.0;  // カンプ通りだとズレるため調整

  @include mq(md) {
    font-size: rem(31);
    flex-shrink: 0;
  }
}

.nav2__title-ja {
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.0;

  @include mq(md) {
    font-size: rem(16);
    flex-shrink: 0;
  }
}

.nav2__accordion-btn {  // クリック領域
  @include mq(md) {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;  // 『＋』ボタンを右寄せに。
    align-items: center;
    cursor: pointer;  // クリック領域だと分かるように。
  }
}

.nav2__plus-btn {  // SP時のみ表示される『＋』ボタン
  @include mq(md) {
    width: rem(12);
    height: rem(12);
    margin-left: auto;
  }
}

.nav2__sub-contents {
  margin-top: rem(8);
  margin-left: rem(9.07);

  @include mq(md) {
    margin-top: rem(19.5);
    margin-left: 0;
    display: none;  // SP時は、普段(最初)は「.nav2__sub-contents」は閉じている仕様のため。
  }
}
