@use "global" as *;


.nav-subs {

}

.nav-subs__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(12);

  @include mq(md) {
    gap: rem(17.5);
  }
}

.nav-subs__item {

}




// =======================================
// モディファイア
// =======================================
// nav-subs--2 (事例紹介(個別)ページの)
.nav-subs--2 .nav-subs__wrap {
  gap: rem(72);

  @include mq(md) {
    gap: rem(50);
  }
}
