@use "global" as *;


.navs {
  background: #F5F5F5;
}

.navs__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(85.5);
}

.navs__wrap {
  padding-top: rem(109.85);
  padding-bottom: rem(120.15);
  width: 74.1780%;
  margin-left: auto;

  @include mq(md) {
    padding-top: rem(32);
    padding-bottom: rem(46.13);
    width: 100%;
  }
}

.navs__main {
  @include mq(md) {
    max-width: rem(500);
    margin-inline: auto;
  }
}
