@use "global" as *;


.nav-subs2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(16);
}

.nav-subs2__item {

}




// =======================================
// モディファイア
// =======================================
.nav-subs2--narrow {
  gap: rem(8);
}
