@use "global" as *;


.occupation {

}

.occupation__inner {

}

.occupation__title {
  padding-block: rem(17);
  padding-inline: rem(30);
  font-size: rem(28);
  font-weight: $bold;
  color: #FFF;
  background: $color-accent1;
  border-radius: rem(10);

  @include mq(md) {
    padding-block: rem(8);
    padding-inline: rem(10);
    font-size: rem(20);
    border-radius: rem(8);
  }
}

.occupation__description {
  margin-top: rem(70);
  font-size: rem(18);
  line-height: 1.77;
  font-weight: $normal;

  @include mq(md) {
    margin-top: rem(25);
    font-size: rem(14);
    line-height: 1.5;

    word-wrap: break-word;  // 記号が連続で入る場合に、ブラウザが自然に改行してくれない現象が起こるため、念の為に指定。
    word-break: break-all;
  }
}

.occupation__table {
  margin-top: rem(70);

  @include mq(md) {
    margin-top: rem(30);
  }
}
