@use "global" as *;


.points {
  padding-top: rem(137.5);
  padding-bottom: rem(132.8);
  background: url(../images/common/points_bg-pc.png) no-repeat center center / cover;
  position: relative;
}

.points::before {  // 背景のベージュ色の画像の上側のモヤモヤ
  content: "";
  width: 100%;
  height: rem(50);
  background: url(../images/common/points_bg-top-pc.png) no-repeat center center / cover;
  position: absolute;
  top: rem(-15);

  @include mq(md) {
    height: rem(80);
    background: url(../images/common/points_bg-top-sp.png) no-repeat center center / cover;
  }
}

.points::after {  // 背景のベージュ色の画像の下側のモヤモヤ
  content: "";
  width: 100%;
  height: rem(50);
  background: url(../images/common/points_bg-bottom-pc.png) no-repeat center center / cover;
  position: absolute;
  bottom: rem(-15);

  @include mq(md) {
    height: rem(80);
    background: url(../images/common/points_bg-bottom-sp.png) no-repeat center center / cover;
  }
}

.points__inner {

}

.points__titles {

}

.points__slider-area {

}
