@use "global" as *;


.points {
  padding-top: rem(137.5);
  padding-bottom: rem(132.8);
  background: url(../images/common/points_bg-pc.png) no-repeat center center / cover;
  position: relative;

  @include mq(md) {
    padding-top: rem(55);
    padding-bottom: rem(40);
  }
}

.points::before {  // 背景のベージュ色の画像の上側のモヤモヤ
  content: "";
  width: 100%;
  height: rem(50);
  background: url(../images/common/points_bg-top-pc.png) no-repeat center center / cover;
  position: absolute;
  top: rem(-15);

  @include mq(md) {
    // height: rem(80);
    height: rem(23);
    // background: url(../images/common/points_bg-top-sp.png) no-repeat center center / cover;
  }
}

.points::after {  // 背景のベージュ色の画像の下側のモヤモヤ
  content: "";
  width: 100%;
  height: rem(50);
  background: url(../images/common/points_bg-bottom-pc.png) no-repeat center center / cover;
  position: absolute;
  bottom: rem(-15);

  @include mq(md) {
    // height: rem(80);
    height: rem(20);
    // background: url(../images/common/points_bg-bottom-sp.png) no-repeat center center / cover;
  }
}

.points__inner {

}

.points__titles {

}

.points__slider-area {
  margin-top: rem(80);

  width: 100vw;
  margin: 0 calc(50% - 50vw);  // 親要素をはみ出るように指定。(『width: 100vw;』と併用で適用可能)

  @include mq(md) {
    margin-top: rem(55);
  }
}

.points__slick-slider {

}
