@use "global" as *;


.post2 {

}

.post2__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(16);
}

.post2__card {

}

.post2__tags {

}
