@use "global" as *;


.product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: rem(56);

  @include mq(md) {
    flex-direction: column;
    align-items: center;
    gap: rem(51.04);
  }
}

.product__img {
  border-radius: rem(10);
  border: 1px solid #EEE;
}

.product__img img {
  aspect-ratio: 337 / 337;
  max-width: rem(337);
  width: rem(337);
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 329 / 327;
    max-width: rem(329);
    width: rem(329);
  }
}

.product__contents {

}

.product__title {
  color: $color-accent1;
  font-size: rem(24);
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.04em;
  text-indent: 0.04em;

  @include mq(md) {
    font-size: rem(22);
  }
}

.product__text {
  margin-top: rem(20);
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.75;

  @include mq(md) {
    margin-top: rem(18.23);
    font-size: rem(14);
  }
}

.product__text-2 {
  margin-top: rem(38);
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.75;

  @include mq(md) {
    margin-top: rem(25);
    font-size: rem(14);
  }
}

.product__toggles-wrap {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(34.63);
  }
}

.product__toggles-title {
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.8;

  @include mq(md) {
    font-size: rem(16);
  }
}

.product__toggles {
  margin-top: rem(8);

  @include mq(md) {
    margin-top: rem(7.29);
  }
}

.product__btn {
  margin-top: rem(40);
  max-width: rem(280);
  width: 100%;

  @include mq(md) {
    margin-top: rem(25);
    margin-inline: auto;
    max-width: rem(255);
  }
}

.product__list-area {
  margin-top: rem(38);
  border-radius: rem(11);
  background: $color-background-base-1;
  padding-block: rem(8);
  padding-inline: rem(16);
  max-width: rem(527);
  width: 100%;

  @include mq(md) {
    margin-top: rem(30);
    max-width: none;
  }
}

.product__list-title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.75;

  @include mq(md) {
    font-size: rem(15);
  }
}

.product__list {

}

.product__list-area2 {
  margin-top: rem(38);

  @include mq(md) {
    margin-top: rem(30);
  }
}




// =======================================
// モディファイア
// =======================================
// product--2
.product--2 .product__btn {
  max-width: rem(200);
  padding-inline: rem(10);

  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);
  }
}


// hover
.product--2 .product__btn.btn--red:hover {
  background: #FFF;
  border: rem(1) solid $color-accent1;
}

.btn--red:hover .btn__text {
  color: $color-accent1;
  transition: color 0.2s ease-out;
}

.btn--red:hover svg path {
  fill: $color-accent1;
}
