@use "global" as *;


.recruit-message {

}

.recruit-message__inner {

}

.recruit-message__title {

}

.recruit-message__contents {
  margin-top: rem(1);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: rem(35);

  @include mq(md) {
    flex-direction: column;
    align-items: center;
    gap: rem(62);
    margin-top: rem(48);
  }
}

.recruit-message__dashline-pc {  // 赤い点線 (PC時)
  position: absolute;
  width: 100%;
  top: rem(46);
  left: rem(-14);
  z-index: -1;
}

.recruit-message__dashline-pc svg {
  aspect-ratio: 1449 / 544;
  width: 100%;
  height: rem(544);
  max-width: rem(1449);
}

.recruit-message__dashline-pc svg path {

}

.recruit-message__dashline-pc {  // 赤い点線 (SP時)

}

.recruit-message__dashline-pc svg {

}

.recruit-message__dashline-pc svg path {

}

.recruit-message__texts {
  margin-top: rem(25);  // 900px辺りになった時にtitleとの間隔を確保するために追加
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(34.5);

  width: 50%;

  @include mq(md) {
    margin-top: 0;
  }
}

.recruit-message__text {
  font-size: rem(22);
  font-weight: $medium;
  line-height: 2.1;
  letter-spacing: 0.12em;
  text-indent: 0.12em;
}

.recruit-message__img {
  border-radius: rem(5);
  width: 31.5%;
  max-width: rem(461);
}

.recruit-message__img img {
  width: 100%;
}
