@use "global" as *;


.requirements2 {

}

.requirements2__inner {  // ※ここだけ、最大幅を500ではなく600に設定。(500だと狭く見えるため)
  @include mq(md) {
    max-width: rem(calc(600 + 20 * 2));  // 両端のpadding分を考慮
    margin-inline: auto;
  }
}

.requirements2__top {

}

.requirements2__title {

}

.requirements2__bottom {
  margin-top: rem(70);
  max-width: rem(1205);
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(35);
  }
}

.requirements2__occupation {

}

.requirements2__occupation:nth-of-type(n + 2) {  // CMSで増える事も考慮して、2個目以降の要素にはmargin-topを付与。
  margin-top: rem(100);

  @include mq(md) {
    margin-top: rem(65);
  }
}

.requirements2__btn-wrap {
  margin-top: rem(70);

  @include mq(md) {
    margin-top: rem(50);
  }
}

.requirements2__btn {
  display: block;
  width: 100%;
  max-width: rem(592);
  margin-inline: auto;

  @include mq(md) {
    max-width: none;
    max-width: rem(350);
  }
}
