@use "global" as *;


.requirements {

}

.requirements__inner {
  @include mq(md) {
    max-width: rem(calc(500 + 20 * 2));  // 両端のpadding分を考慮
    margin-inline: auto;
  }
}

.requirements__title {

}

.requirements__contents-wrap {
  margin-top: rem(40);
  background: #F5F5F5;
  padding-block: rem(104);
  padding-inline: rem(30);

  @include mq(md) {
    padding-block: rem(60);
    padding-inline: rem(30);
  }
}

.requirements__contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(27);
  row-gap: rem(27);
  align-items: flex-start;  // 上揃えに。

  max-width: rem(1210);
  margin-inline: auto;

  @include mq(md) {
    grid-template-columns: repeat(1, 1fr);
    max-width: none;
  }
}

.requirements__btn {

}
