@use "global" as *;


.section-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-head__title {
  text-align: left;
  font-family: $font-family-ja-1;
  font-size: rem(60);
  font-weight: $normal;
  line-height: 1.1;
  letter-spacing: 0.03em;

  @include mq(md) {
    font-size: rem(40);
  }
}

.section-head__title-en {
  font-family: $font-family-en-1;
  font-size: rem(12);
  font-weight: $medium;
  line-height: 1.45;
  margin-top: rem(7);
  margin-left: rem(2);
}




// =======================================
// モディファイア
// =======================================
// .section-head--2
.section-head--2 .section-head__title {
  font-size: rem(72);
  white-space: nowrap;

  @include mq(md) {
    font-size: rem(40);
    margin-top: rem(5);
  }
}

.section-head--2 .section-head__title-en {
  @include mq(md) {
    margin-top: rem(5);
    margin-left: 0;
  }
}



// .section-head--center (中央揃えパターン)
.section-head--center {
  width: fit-content;
  margin-inline: auto;
  align-items: center;
}

.section-head--center .section-head__title {
  text-align: center;
  font-family: $font-family-ja-1;
  font-size: rem(48);
}

.section-head--center .section-head__title-en {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.45;
  margin-top: rem(15);
  margin-left: 0;  // モディファイアで打ち消し
}
