@use "global" as *;


.section-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-head__title {
  text-align: left;
  font-family: $font-family-ja-1;
  font-size: rem(60);
  font-weight: $normal;
  line-height: 2.0;
  letter-spacing: 0.03em;
}

.section-head__title-en {
  font-family: $font-family-en-1;
  font-size: rem(12);
  font-weight: $medium;
  line-height: 1.45;
  margin-top: rem(-18);
}
