@use "global" as *;


.service {

}

.service__inner {
  @include mq(md) {
    max-width: rem(640);  // 600+20*2 (padding分を考慮)
  }
}

.service__headings {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: rem(65);

  @include mq(md) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: rem(21);
  }
}

.service__head {

}

.service__head-text {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.9;
}

.service__items {
  margin-top: rem(152);
  margin-left: rem(58);  // カードの角の数字『01』の文を、左に寄せる。

  @include mq(md) {
    margin-top: rem(87);
    margin-left: rem(30);
  }
}
