@use "global" as *;


.service-page {

}

.service-page__inner {
  @include mq(md) {
    max-width: rem(calc(500 + 20 * 2));  // 両端のpadding分を考慮
    margin-inline: auto;
  }
}

.service-page__title {

}

.service-page__contents {
  margin-top: rem(80);
  margin-left: rem(129);

  @include mq(md) {
    margin-top: rem(33.5);
    margin-left: 0;
  }
}

.service-page__contents-title {
  font-size: rem(32);
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.03em;
  text-indent: 0.03em;

  @include mq(md) {
    font-size: rem(16);
  }
}

.service-page__contents-text {
  margin-top: rem(34);
  font-size: rem(18);
  font-weight: $normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-indent: 0.03em;

  @include mq(md) {
    margin-top: rem(14);
    font-size: rem(12);
  }
}
