@use "global" as *;


.service1 {

  @include mq(md) {
    padding-top: rem(51);
    padding-bottom: rem(50);
  }
}

.service1__inner {
  display: flex;
  justify-content: space-between;
  // align-items: flex-start;
  align-items: stretch; // 『service1__left』の高さを『service1__right』と合わせるための指定
  gap: rem(85.5);

  @include mq(md) {
    display: block;
    max-width: rem(calc(500 + 20 * 2));  // 両端のpadding分を考慮
    margin-inline: auto;
  }
}

.service1__left {
  padding-top: rem(145.59);
  flex-grow: 1;
  width: 19.5%;

  padding-top: rem(160);
  // padding-bottom: rem(134);
  flex-grow: 1;
  width: 19.5%;
  padding-right: rem(11.5);
  border-right: 1px solid #EDEDED;

  @include mq(md) {
    display: none;
  }
}

.service1__nav-sub {

}

.service1__right {
  padding-top: rem(145.59);
  padding-bottom: rem(119.41);
  flex-grow: 1;
  width: 74.1780%;

  @include mq(md) {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
}

.service1__title {
  position: relative;
}

.service1__title-text {
  font-family: $font-family-ja-1;
  font-size: rem(38);
  font-weight: $normal;
  line-height: 1.5;

  @include mq(md) {
    font-size: rem(32);
    font-weight: $bold;
  }
}

.service1__title.is-01 .service1__title-number {  // 左側にある『01』の文字
  font-family: $font-family-en-1;
  font-size: rem(12);
  font-style: normal;
  font-weight: $medium;
  line-height: 1.5;
  padding-block: rem(1);
  padding-inline: rem(9);

  border-radius: rem(12);
  border: 1px solid #212121;
  position: absolute;
  top: 0;
  right: calc(100% + rem(10));

  @include mq(md) {
    display: none;
  }
}

.service1__title-en {  // 『Quality』の文字
  color: $color-accent1;
  font-family: $font-family-en-1;
  font-size: rem(16);
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.04em;
  text-indent: 0.04em;

  @include mq(md) {
    font-size: rem(11);
  }
}

.service1__message {
  margin-top: rem(39);
  font-size: rem(19);
  font-weight: $medium;
  line-height: 1.7;

  @include mq(md) {
    margin-top: rem(40);
    font-size: rem(16);
  }
}

.service1__products {
  margin-top: rem(112);

  @include mq(md) {
    margin-top: rem(72);
  }
}

.service1__right-btn-wrap {
  margin-top: rem(122);
  text-align: center;

  @include mq(md) {
    margin-top: rem(34.63);
  }
}

.service1__right-btn {

}

.service1__quality-descriptions {
  margin-top: rem(120);

  @include mq(md) {
    margin-top: rem(45);
  }
}




// =======================================
// モディファイア
// =======================================
// service1--2
.service1--2.service1 {
  background: #F5F5F5;
}



// service1--3
.service1--3 .service1__right {
  padding-bottom: rem(81);  // 『.service1__left』との境界線の長さを担保

  @include mq(md) {
    padding-bottom: 0;
  }
}
