@use "global" as *;


/* slider-sub (カードに対応するテキストやコンテンツ) */
.slider-sub {

}

.slider-sub .slick-track {  // 『slick slider』でデフォルトで設定されているクラス名

}

.slider-sub .slick-current {  // 『slick slider』でデフォルトで設定されているクラス名
  pointer-events: auto;
}

.slider-sub__item {
  pointer-events: none;
}

.slider-sub__item.is-07 {  // 7個目だけボタンがあるため、縦並びに。
  display: grid;
  gap: rem(54);
}

.slider-sub__text {
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-indent: 0.04em;
}

.slider-sub__buttons {
  display: grid;
  gap: rem(8);

  max-width: rem(313);
  width: 100%;
  margin-inline: auto;
}
