@use "global" as *;


.speech-bubble {
  position: relative;
  z-index: 10;
}

.speech-bubble.is-01 {
  max-width: rem(514);
}

.speech-bubble.is-01::after {  // 背景の吹き出しアイコン
  content: "";
  width: rem(611);
  height: rem(342);
  background: url(../images/common/speech-bubble-icon-01-pc.png) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + rem(10)));
  z-index: -1;
}

