@use "global" as *;


.speech-bubble {
  position: relative;
  z-index: 10;
}

.speech-bubble.is-01::after {  // 背景の吹き出しアイコン
  content: "";
  width: rem(611);
  height: rem(342);
  background: url(../images/common/speech-bubble-icon-01-pc.png) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + rem(14)));
  z-index: -1;
}

.speech-bubble.is-02::after {  // 背景の吹き出しアイコン
  content: "";
  width: rem(658);
  height: rem(316);
  background: url(../images/common/speech-bubble-icon-02-pc.png) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - rem(24)), -50%);
  z-index: -1;
}

.speech-bubble.is-03::after {  // 背景の吹き出しアイコン
  content: "";
  width: rem(620);
  height: rem(404);
  background: url(../images/common/speech-bubble-icon-03-pc.png) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + rem(14)));
  z-index: -1;
}

