@use "global" as *;


.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: rem(8);

  @include mq(md) {
    gap: rem(5.43);
  }
}

.tags__item {

}
