@use "global" as *;


.title {
  position: relative;
  z-index: 40;
}

.title__text {
  text-align: center;
  font-feature-settings: 'vert' on;
  font-size: rem(48);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-indent: 0.2em;

  writing-mode: vertical-rl; /* 縦書きに変更 */
  text-orientation: upright; /* 日本語や漢字をそのままの形で表示 */
  width: rem(72); /* 横幅を適切に設定 */
  padding-block: rem(12);
  padding-inline: rem(9);

  white-space: nowrap;

  @include mq(md) {
    font-size: rem(24);
    width: rem(36);
    padding-block: rem(8);
    padding-inline: rem(5);
  }
}

.title__text-number {  // 『29』の部分
  writing-mode: horizontal-tb;  // 数字部分は、横向きのまま表示
  font-feature-settings: 'vert' on;
  font-size: rem(40);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-indent: 0.04em;

  display: inline-block;
  padding-bottom: rem(10);

  @include mq(md) {
    font-size: rem(20);
    padding-bottom: rem(5);
  }
}

.title__text-bg {  // 白い背景色
  width: 100%;
  height: 100%;
  background: $color-background-base-1;
  border: rem(2) solid $color-font-base;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  @include mq(md) {
    border: rem(1) solid $color-font-base;
  }
}

.title.is-01 .title__text-bg {
  @include mq(md) {
    height: 110%;
    top: 54%;
  }
}

.title__number-mark {
  background: $color-accent1;
  padding-block: rem(10);
  padding-inline: rem(10);
  border-radius: 50%;

  position: absolute;
  top: rem(-11);
  right: calc(-100% - rem(4));

  @include mq(md) {
    padding-block: rem(5);
    padding-inline: rem(5);
    top: rem(-7);
    right: calc(-100% - rem(1));
  }
}

.title.is-02 .title__number-mark,
.title.is-04 .title__number-mark {
  right: auto;
  left: calc(-100% - rem(4));

  @include mq(md) {
    left: calc(-100% - rem(1));
  }
}

.title__number-text {  // 『秘話』という文字
  text-align: center;
  font-size: rem(14);
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.04em;
  text-indent: 0.04em;
  position: absolute;
  top: rem(-28);
  left: 50%;
  transform: translateX(-50%);

  width: rem(30);

  @include mq(md) {
    font-size: rem(7);
    top: rem(-15);
  }
}

.title__number-text::before {  // 『秘話』の文字の両サイドの斜め線の左側
  content: "";
  border-left: rem(1) solid $color-font-base;
  height: rem(18);
  transform: rotate(-30deg);
  position: absolute;
  bottom: rem(-4);
  left: rem(-7);

  @include mq(md) {
    height: rem(10);
    left: rem(2);
  }
}

.title__number-text::after {  // 『秘話』の文字の両サイドの斜め線の右側
  content: "";
  border-left: rem(1) solid $color-font-base;
  height: rem(18);
  transform: rotate(30deg);
  position: absolute;
  bottom: rem(-4);
  right: rem(-7);

  @include mq(md) {
    height: rem(10);
    right: rem(2);
  }
}

.title__number {
  color: #FFF;
  text-align: center;
  font-family: $font-family-en-1;
  font-size: rem(24);
  font-weight: $medium;
  line-height: normal;
  letter-spacing: 0.04em;
  text-indent: 0.04em;

  @include mq(md) {
    font-size: rem(12);
  }
}
