@use "global" as *;


.toggles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(7);

  @include mq(md) {
    align-items: center;
    gap: rem(6.83);
  }
}

.toggles__item {
  flex-grow: 1;
  max-width: rem(511);
  width: 100%;

  @include mq(md) {
    max-width: none;
  }
}
