@use "global" as *;


.topics-detail {

}

.topics-detail__wrap {

}

.topics-detail__top {
  padding-bottom: rem(45);
  position: relative;

  @include mq(md) {
    padding-bottom: rem(35);
  }
}

.topics-detail__top::after {  // 背景の、草の形のアイコンが並んでいる箇所
  content: "";
  width: 100%;  // x方向に反復させるので、幅を最大限に指定。
  height: rem(300);
  background: url("../images/common/topics-detail_bg-grass.png") repeat-x center center / contain;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.3;

  @include mq(md) {
    height: rem(200);
  }
}

.topics-detail__top-inner {
  @include mq(md) {
    max-width: rem(calc(500 + 20 * 2));  // 両端のpadding分を考慮
    margin-inline: auto;
  }
}

.topics-detail__eye-catch {
  max-width: rem(705);
  margin-inline: auto;
  border-radius: rem(10);
  overflow: hidden;

  @include mq(md) {
    max-width: none;
  }
}

.topics-detail__eye-catch img {
  aspect-ratio: 705 / 468;
  width: 100%;
  object-fit: cover;
}

.topics-detail__info {
  margin-top: rem(48);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(16);

  @include mq(md) {
    margin-top: rem(30);
    flex-direction: column;
    gap: rem(8);
    align-items: flex-start;
  }
}

.topics-detail__category {
  display: inline-block;
  padding-block: rem(18);
  padding-inline: rem(28);
  border-radius: rem(6);
  font-size: rem(20);
  font-weight: $bold;
  color: #FFF;
  background: $color-accent1;
  margin-top: rem(-28);

  @include mq(md) {
    padding-block: rem(6);
    padding-inline: rem(10);
    font-size: rem(15);
    margin-top: 0;
  }
}

.topics-detail__right {

}

.topics-detail__date {
  font-size: rem(13);
  font-family: $font-family-en-1;
}

.topics-detail__title {
  margin-top: rem(12);
  font-size: rem(36);
  color: $color-accent1;

  @include mq(md) {
    margin-top: rem(4);
    font-size: rem(18);
    text-align: left;
  }
}

.topics-detail__tags {
  margin-top: rem(28);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(18);
  flex-wrap: wrap;

  @include mq(md) {
    margin-top: rem(12);
    gap: rem(12);
  }
}

.topics-detail__bottom {
  @include mq(md) {
    padding-top: rem(40);
  }
}

.topics-detail__bottom-inner {
  @include mq(md) {
    max-width: rem(calc(500 + 20 * 2));  // 両端のpadding分を考慮
    margin-inline: auto;
  }
}

.topics-detail__bottom-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: rem(81);

  @include mq(md) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: rem(30);
  }
}

.topics-detail__sidebar-wrap {
  flex-grow: 1;
  width: 20.28%;
  position: relative;

  @include mq(md) {
    width: 100%;
  }
}

.topics-detail__sidebar-wrap::after {  // 右側の仕切り線
  content: "";
  width: 1px;
  height: 94.5%;
  border-right: 1px solid #e6e6e6;
  position: absolute;
  top: rem(81);
  right: 0;

  @include mq(md) {
    width: 100%;
    height: 1px;
    border-right: none;
    border-top: 1px solid #e6e6e6;
    top: 0;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.topics-detail__sidebar {
  padding-top: rem(84);
  padding-bottom: rem(70);
  padding-right: rem(18);
  position: sticky;  // 追従するように指定。
  top: 0;
  left: 0;

  @include mq(md) {
    padding-top: rem(30);
    padding-bottom: rem(70);
    position: static;
    top: auto;
    left: auto;
  }
}

.topics-detail__nav {

}

.topics-detail__nav-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(72);

  @include mq(md) {
    gap: rem(30);
  }
}

.topics-detail__nav-item {

}

.topics-detail__nav-title {
  color: $color-accent1;
  font-size: rem(17);
  font-weight: $bold;
  line-height: 1.2;
  transition: color 0.2s ease-out;

  @include mq(md) {
    font-size: rem(15);
  }
}



// ※WordPressのテンプレートタグ『wp_list_categories()』や『wp_tag_cloud()』を使ってカテゴリやタグを表示するため、タグ自体にスタイルを適用。(親要素のulタグにはオプションで付与するクラス名を指定出来るため、クラスを付与してOK。)
.topics-detail__nav-list {  // ulタグ
  margin-top: rem(33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(24);

  @include mq(md) {
    margin-top: rem(18);
    gap: rem(12);
  }
}

.topics-detail__nav-list li {  // CMS構築時を考慮して、タグ自体にCSSを付与。
  font-size: rem(14);
  font-weight: $normal;
  leading-trim: both;
  text-edge: cap;
  line-height: 1.28;
  letter-spacing: 0.02em;
  text-indent: 0.02em;
  padding-left: rem(16);
  position: relative;
  transition: color 0.2s ease-out;

  @include mq(md) {
    font-size: rem(12);
  }
}

.topics-detail__nav-list li::before {  // 赤の横線 (-)
  content: "";
  width: rem(8);
  height: 0; // 高さを0に設定
  border-top: 1px solid $color-accent1; // 上部の線を描画 (『height』で指定すると、サブピクセルレンダリングの影響を受けて画面幅によって太さが変わってしまうため、borderを用いて線の太さを制御)
  position: absolute;
  top: rem(8);
  left: 0;
  transition: border-top 0.2s ease-out;
  max-height: 1px;

  @include mq(md) {
    top: rem(8.5);
  }
}

.topics-detail__nav-list li:hover {  // hover
  color: $color-accent1;
}

.topics-detail__nav-list li:hover::before {  // hover
  border-top: rem(1) solid $color-accent1;
}


.topics-detail__main {
  padding-top: rem(84);
  flex-grow: 1;
  width: 75.5%;
  padding-bottom: rem(160);

  @include mq(md) {
    padding-top: 0;
    width: 100%;
    padding-bottom: rem(50);
  }
}


.topics-detail__main-wrap {  // WordPressの『the_content()』の親要素

}

.topics-detail__main-wrap h2 {  // h2
  margin-top: rem(15);
  color: #FFF;
  font-size: rem(36);
  font-weight: $bold;
  line-height: 1.5;
  background: $color-accent1;
  padding-block: rem(16);
  padding-inline: rem(27);
  border-radius: rem(10);

  @include mq(md) {
    font-size: rem(20);
    padding-block: rem(8);
    padding-inline: rem(14);
  }
}

.topics-detail__main-wrap h3 {  // h3
  margin-top: rem(40);
  color: $color-accent1;
  font-size: rem(34);
  font-weight: $bold;
  line-height: 1.5;
  padding-bottom: rem(12);
  padding-inline: rem(25);
  border-radius: rem(10);
  position: relative;

  @include mq(md) {
    font-size: rem(18);
    padding-bottom: rem(10);
    padding-inline: rem(8);
  }
}

.topics-detail__main-wrap h3::after {  // 赤とグレーの線
  content: "";
  width: 100%;
  height: rem(5);
  background: linear-gradient(to right, $color-accent1 40%, #cccccc 0%);  // linear-gradient を使用して、赤色を40%の位置まで表示し、残りをグレーに設定
  position: absolute;
  bottom: 0;
  left: 0;

  @include mq(md) {
    height: rem(3);
  }
}

.topics-detail__main-wrap h4 {  // h4
  margin-top: rem(40);
  color: $color-font-base;
  font-size: rem(32);
  font-weight: $bold;
  line-height: 1.5;

  position: relative;
  padding-left: rem(24);

  @include mq(md) {
    font-size: rem(18);
    padding-left: rem(18);
  }
}

.topics-detail__main-wrap h4::before {  // 左側の赤い丸
  content: "";
  width: rem(16);
  height: rem(16);
  background: url(../images/common/page-title_circle-red.svg) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  @include mq(md) {
    width: rem(12);
    height: rem(12);
  }
}

.topics-detail__main-wrap h5 {  // h5
  margin-top: rem(35);
  color: $color-accent1;
  font-size: rem(28);
  font-weight: $bold;
  line-height: 1.5;

  position: relative;
  padding-left: rem(24);

  @include mq(md) {
    font-size: rem(17);
    padding-left: rem(12);
  }
}

.topics-detail__main-wrap h5::before {  // 左側の赤い線
  content: "";
  width: rem(11);
  height: 100%;
  background: $color-accent1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  @include mq(md) {
    width: rem(6);
  }
}

.topics-detail__main-wrap h6 {  // h6
  margin-top: rem(30);
  color: $color-font-base;
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1.5;

  @include mq(md) {
    font-size: rem(17);
  }
}

.topics-detail__main-wrap p {  // p
  margin-top: rem(35);
  color: $color-font-base;
  font-size: rem(16);
  line-height: 1.75;

  @include mq(md) {
    font-size: rem(14);
  }
}

.topics-detail__main-wrap img {  // img
  margin-top: rem(35);
  aspect-ratio: 1087 / 727;
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    margin-top: rem(25);
  }
}

.topics-detail__main-pagenavi {
  margin-top: rem(77);

  @include mq(md) {
    margin-top: rem(30);
  }
}
