@use "global" as *;


.topics {

}

.topics__inner {

}

.topics__head {

}

.topics__categories {
  margin-top: rem(45);
  width: fit-content;
  margin-inline: auto;
}

.topics__posts {
  margin-top: rem(84);
}

.topics__link-wrap {
  margin-top: rem(129.2);
  width: fit-content;
  margin-inline: auto;
}

.topics__link {

}
