@use "global" as *;


.topics {

}

.topics__inner {
  @include mq(md) {
    max-width: rem(640);  // 600+20*2 (padding分を考慮)
  }
}

.topics__head {

}

.topics__categories {
  margin-top: rem(45);
  width: fit-content;
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(8);
  }
}

.topics__posts {
  margin-top: rem(84);

  @include mq(md) {
    margin-top: rem(81);
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
  }
}

.topics__link-wrap {
  margin-top: rem(129.2);
  width: fit-content;
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(80.79);
  }
}

.topics__link {

}
