@use "global" as *;


.working-environment {
  background: #FFF7F9;
  padding-top: rem(181);
  padding-bottom: rem(200);
}

.working-environment__inner {

}

.working-environment__title {

}

.working-environment__boxes {
  margin-top: rem(40);
}
